@model IEnumerable<CustomLogin_MVC.Models.Reply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Thread.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Thread.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReplyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReplyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReplyId })
        </td>
    </tr>
}

</table>
